body {
  background-color: aquamarine;
  font-family: sans-serif;
  margin: 0;
}

p {
  line-height: 1.5;
}

.main {
  margin: 0 40px 0 40px;
}

.texto-destaque {
  font-weight: bold;
}

#titulo-perfil {
  color: brown;
  text-align: center;
}

#rodape-pagina {
  text-align: center;
  background-color: #333;
  color: #CCC;
}
